cvxpy==1.5.1
DateTime==5.2
Django==5.0.6
firebase-admin==6.5.0
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
numpy==1.25.2
pandas==2.0.3
pandas-datareader==0.10.0
python-dateutil==2.8.2
python-docx==1.1.0
requests==2.31.0
scikit-learn==1.4.2
scikit-optimize==0.10.1
yfinance==0.2.40
torch==2.3.0
